rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Users rules
    match /users/{userId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if isOwner(userId);
    }

    // Short Videos rules
    match /videos/{videoId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if isSignedIn();
    }

    // Comments rules
    match /comments/{commentId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if isSignedIn();
    }

    // Notifications
    match /notifications/{notifId} {
      allow read, write: if true;
    }
  }
}
